<html>

<body>
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <!-- start hero -->
        <tbody>
            <tr>
                <td align="center" bgcolor="#e9ecef">
                    <table border="0" width="600" cellspacing="0" cellpadding="0" align="center">
                        <tbody>
                            <tr>
                                <td align="center" valign="top" width="600">
                                    <table style="max-width: 600px;" border="0" width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td style="padding: 36px 24px 0; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; border-top: 3px solid #d4dadf;"
                                                    align="left" bgcolor="#ffffff">
                                                    <h1 style="margin: 0; font-size: 32px; font-weight: bold; letter-spacing: -1px; line-height: 48px;">Reset Your Password</h1>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" bgcolor="#e9ecef">
                                    <table style="max-width: 600px;" border="0" width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;"
                                                    align="left" bgcolor="#ffffff">
                                                    <p style="margin: 0;">Hi {{username}},
                                                        <p style="margin: 0;">Follow the link to reset your account password. If you didn't request
                                                            a new password, you can safely delete this email.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;"
                                                    align="left" bgcolor="#ffffff">
                                                    <p style="margin: 0;">The link is valid for 30 minutes only.</p>
                                                    <a href="{{link}}" target="_blank">Click Here</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; border-bottom: 3px solid #d4dadf;"
                                                    align="left" bgcolor="#ffffff">
                                                    <p style="margin: 0;">Cheers,
                                                        <br /> FitTreat</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>